In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.\
        builder.\
        appName("pyspark-notebook").\
        master("spark://spark-master:7077").\
        config("spark.executor.memory", "512m").\
        getOrCreate()

22/09/27 19:18:26 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [2]:
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [5]:
venta = spark.read.csv(path="data/Venta.csv", inferSchema=True, sep=",", header=True)

In [21]:
venta.count()

46645

In [12]:
venta.printSchema()

root
 |-- IdVenta: integer (nullable = true)
 |-- Fecha: date (nullable = true)
 |-- Fecha_Entrega: string (nullable = true)
 |-- IdCanal: integer (nullable = true)
 |-- IdCliente: integer (nullable = true)
 |-- IdSucursal: integer (nullable = true)
 |-- IdEmpleado: integer (nullable = true)
 |-- IdProducto: integer (nullable = true)
 |-- Precio: double (nullable = true)
 |-- Cantidad: integer (nullable = true)

In [11]:
venta = venta.withColumn("Fecha",col("Fecha").cast("date"))

In [14]:
venta = venta.withColumn("Fecha_Entrega",col("Fecha_Entrega").cast("date"))

In [15]:
venta.printSchema()

root
 |-- IdVenta: integer (nullable = true)
 |-- Fecha: date (nullable = true)
 |-- Fecha_Entrega: date (nullable = true)
 |-- IdCanal: integer (nullable = true)
 |-- IdCliente: integer (nullable = true)
 |-- IdSucursal: integer (nullable = true)
 |-- IdEmpleado: integer (nullable = true)
 |-- IdProducto: integer (nullable = true)
 |-- Precio: double (nullable = true)
 |-- Cantidad: integer (nullable = true)

In [16]:
venta.show(n=10)

+-------+----------+-------------+-------+---------+----------+----------+----------+------+--------+
|IdVenta|     Fecha|Fecha_Entrega|IdCanal|IdCliente|IdSucursal|IdEmpleado|IdProducto|Precio|Cantidad|
+-------+----------+-------------+-------+---------+----------+----------+----------+------+--------+
|      1|2018-03-09|   2018-03-17|      3|      969|        13|      1674|     42817|813.12|       2|
|      2|2018-12-28|   2018-12-29|      2|      884|        13|      1674|     42795|543.18|       3|
|      3|2016-03-28|   2016-03-31|      2|     1722|        13|      1674|     42837|430.32|       1|
|      4|2017-10-23|   2017-10-24|      3|     2876|        13|      1674|     42834|818.84|       2|
|      5|2017-11-22|   2017-11-25|      2|      678|        13|      1674|     42825|554.18|       3|
|      6|2018-01-24|   2018-01-25|      2|     3263|        13|      1674|     42852| 152.0|       1|
|      7|2015-03-25|   2015-03-26|      3|     2983|        13|      1674|     42939|2915.0|       1|
|      8|2017-07-10|   2017-07-18|      2|      201|        13|      1674|     42940|2162.0|       2|
|      9|2018-04-03|   2018-04-06|      2|     1006|        13|      1674|     42905| 456.0|       3|
|     10|2019-03-16|   2019-03-17|      1|     1003|        13|      1674|     42894| 515.0|       2|
+-------+----------+-------------+-------+---------+----------+----------+----------+------+--------+
only showing top 10 rows

In [17]:
venta.createOrReplaceTempView("venta")

In [18]:
spark.sql("SELECT Fecha, count(*) as Count FROM venta GROUP BY Fecha ORDER BY Count DESC").show(truncate=False)

+----------+-----+
|Fecha     |Count|
+----------+-----+
|2020-11-19|88   |
|2020-03-31|79   |
|2020-01-01|72   |
|2016-09-27|71   |
|2020-09-09|70   |
|2020-09-11|69   |
|2020-05-27|69   |
|2020-04-13|69   |
|2020-03-30|67   |
|2020-02-14|66   |
|2020-01-09|66   |
|2020-05-23|64   |
|2020-01-02|64   |
|2020-09-10|63   |
|2017-12-04|63   |
|2020-07-11|63   |
|2020-09-08|62   |
|2020-09-28|62   |
|2020-09-24|60   |
|2020-01-18|60   |
+----------+-----+
only showing top 20 rows

In [19]:
spark.sql("SELECT Fecha, count(DISTINCT IdProducto) as Count FROM venta GROUP BY Fecha ORDER BY Count DESC").show(truncate=False)

+----------+-----+
|Fecha     |Count|
+----------+-----+
|2020-11-19|80   |
|2020-09-11|64   |
|2020-09-09|63   |
|2020-07-11|61   |
|2020-09-10|58   |
|2020-09-28|57   |
|2020-09-08|56   |
|2020-09-24|55   |
|2020-07-10|55   |
|2020-07-08|55   |
|2020-07-07|54   |
|2020-09-26|53   |
|2020-09-25|51   |
|2020-07-09|51   |
|2020-09-23|51   |
|2020-11-20|49   |
|2020-10-21|49   |
|2020-09-19|49   |
|2020-09-21|49   |
|2020-09-18|48   |
+----------+-----+
only showing top 20 rows

In [20]:
spark.sql("SELECT Fecha, count(DISTINCT IdCliente) as Count FROM venta GROUP BY Fecha ORDER BY Count DESC").show(truncate=False)

+----------+-----+
|Fecha     |Count|
+----------+-----+
|2020-11-19|86   |
|2020-09-11|68   |
|2020-09-09|67   |
|2020-09-28|62   |
|2020-09-10|61   |
|2020-07-11|60   |
|2020-09-08|60   |
|2020-09-24|60   |
|2020-07-07|59   |
|2020-07-08|59   |
|2020-07-10|58   |
|2020-09-26|56   |
|2020-09-23|56   |
|2020-10-21|55   |
|2020-09-25|55   |
|2020-09-19|54   |
|2020-07-09|53   |
|2020-09-18|52   |
|2020-11-20|52   |
|2020-11-21|52   |
+----------+-----+
only showing top 20 rows

In [70]:
spark.sql("SELECT Fecha, count(DISTINCT IdSucursal) as Count FROM venta GROUP BY Fecha ORDER BY Count DESC").show(truncate=False)

+----------+-----+
|Fecha     |Count|
+----------+-----+
|2020-09-09|28   |
|2020-09-28|28   |
|2020-09-08|27   |
|2020-08-01|27   |
|2020-10-21|26   |
|2020-11-19|26   |
|2020-09-11|26   |
|2020-12-12|25   |
|2020-09-10|25   |
|2020-09-18|25   |
|2020-09-25|25   |
|2020-09-21|25   |
|2020-09-19|25   |
|2020-09-26|25   |
|2020-08-04|25   |
|2020-06-30|25   |
|2020-11-21|24   |
|2020-06-09|24   |
|2020-11-20|24   |
|2020-07-23|24   |
+----------+-----+
only showing top 20 rows

In [71]:
spark.sql("SELECT Fecha, count(DISTINCT IdEmpleado) as Count FROM venta GROUP BY Fecha ORDER BY Count DESC").show(truncate=False)

+----------+-----+
|Fecha     |Count|
+----------+-----+
|2020-11-19|73   |
|2020-03-31|65   |
|2020-09-09|64   |
|2020-05-27|63   |
|2020-01-09|62   |
|2020-09-28|60   |
|2016-09-27|60   |
|2020-09-11|59   |
|2020-01-01|59   |
|2020-04-13|59   |
|2020-03-30|58   |
|2020-09-08|58   |
|2020-09-24|56   |
|2020-04-21|56   |
|2020-05-23|54   |
|2020-09-26|54   |
|2020-05-01|53   |
|2020-01-02|53   |
|2020-09-25|53   |
|2016-04-08|53   |
+----------+-----+
only showing top 20 rows

In [23]:
spark.sql("SELECT COUNT(*) FROM venta WHERE RAND() < 0.5").show(truncate=False)

+--------+
|count(1)|
+--------+
|23381   |
+--------+

In [24]:
cliente = spark.read.csv(path="data/Cliente.csv", inferSchema=True, sep=";", header=True)

In [25]:
cliente.show(n=10)

+---+-------------+--------------------+--------------------+--------+----+-------------------+------------+------------+-----+
| ID|    Provincia|   Nombre_y_Apellido|           Domicilio|Telefono|Edad|          Localidad|           X|           Y|col10|
+---+-------------+--------------------+--------------------+--------+----+-------------------+------------+------------+-----+
|  1|             |  HEBER JONI SANTANA|LAS HERAS Y BAT. ...| 42-5161|  58|         LOMA VERDE|-58,81850307|-34,30997088| null|
|  2| Buenos Aires|         ANA SAPRIZA|PUEYRREDON Y DUPU...| 49-7578|  61|         SANTA ROSA|-58,73073751|-34,93908311| null|
|  3|Buenos Aires |FERNANDO LUIS SAR...|CALDERON DE LA BA...| 49-3435|  15|             TORRES|-59,12794068|-34,43082199| null|
|  4| Buenos Aires|    MANUELA SARASOLA|RUTA 36 KM 45,500...| 49-2883|  29|           RUTA SOL|-58,14393954|-34,92052706| null|
|  5| Buenos Aires|  MARIO RAÚL SARASUA|492 Y 186 S/N  CO...|491-4608|  34|JOSE MELCHOR ROMERO|  -58,089381| -34,9444471| null|
|  6| Buenos Aires| PEDRO JESUS SARAVIA|RUTA 2 - KM 44,50...| 49-2350|  18|           RUTA SOL|-58,11226426|-35,00786216| null|
|  7| Buenos Aires|       JORGE SARAVIA|VILLARROEL RUTA 3...| 49-5306|  21|    VIRREY DEL PINO|-58,70894814|-34,86070786| null|
|  8| Buenos Aires|CARLOS JOSE SARAZOLA|ISLA SANTIAGO S/N...|623-9935|  40|      ISLA SANTIAGO|-57,88154205| -34,8350313| null|
|  9| Buenos Aires|    OSCAR LUIS SARLO|GARCILAZO DE LA V...| 49-7576|  18|         SANTA ROSA|-58,75008438|-34,97534955| null|
| 10| Buenos Aires|JOSE ADOLFO SARMI...|SEGUNDO SOMBRA E/...| 49-7565|  58|         SANTA ROSA|-58,75203716|-34,95142843| null|
+---+-------------+--------------------+--------------------+--------+----+-------------------+------------+------------+-----+
only showing top 10 rows

In [26]:
empleado = spark.read.csv(path="data/Empleado.csv", inferSchema=True, sep=",", header=True)

In [27]:
empleado.show(n=10)

+----------+--------------+---------+---------+----------+--------+-------+-------+
|IdEmpleado|CodigoEmpleado| Apellido|   Nombre|IdSucursal|IdSector|IdCargo|Salario|
+----------+--------------+---------+---------+----------+--------+-------+-------+
|  13001968|          1968|   Burgos| Jeronimo|        13|       1|      1|32000.0|
|  13001674|          1674| Villegas|Estefania|        13|       1|      5|32000.0|
|  13001516|          1516|Fernandez|Guillermo|        13|       1|      5|45000.0|
|  13001330|          1330|  Ramirez|   Eliana|        13|       1|      5|32000.0|
|  13001657|          1657|  Carmona|     Jose|        13|       1|      5|32000.0|
|  13001573|          1573|De Santis|  Marcela|        13|       1|      2|15000.0|
|  13001658|          1658|   Franco|  Daniela|        13|       1|      5|32000.0|
|  13001078|          1078|   Cortes|   Rafael|        13|       4|      1|42000.0|
|   1001695|          1695|   Berrio|   Camilo|         1|       4|      5|32000.0|
|   1001285|          1285|    Arias|Francisco|         1|       4|      5|32000.0|
+----------+--------------+---------+---------+----------+--------+-------+-------+
only showing top 10 rows

In [34]:
producto = spark.read.csv(path="data/Producto.csv", inferSchema=True, sep=",", header=True)

In [35]:
producto.show(n=10)

+-----------+--------------------+-----------+-------+
|ID_PRODUCTO|            Concepto|       Tipo| Precio|
+-----------+--------------------+-----------+-------+
|      42737|  EPSON COPYFAX 2000|  IMPRESIÓN| 1658.0|
|      42754|MOT ASROCK H110M-...|INFORMATICA| 1237.5|
|      42755|MOT ASROCK A58M-V...|INFORMATICA|1079.32|
|      42756|  MOT ECS KAM1-I AM1|INFORMATICA| 638.66|
|      42757|MOT ASROCK B150M-...|INFORMATICA|1784.42|
|      42758|MOT ASROCK B85M S...|INFORMATICA|1819.18|
|      42759|MOT ASROCK FM2A88...|INFORMATICA|1800.48|
|      42760|MOT ASROCK N68-GS...|INFORMATICA|1637.24|
|      42761|MOT MSI A68HM-E33...|INFORMATICA|1384.46|
|      42762|MOT MSI B150M B15...|INFORMATICA| 2106.6|
+-----------+--------------------+-----------+-------+
only showing top 10 rows

In [ ]:
cliente.createOrReplaceTempView("cliente")

In [65]:
cliente_nvo = spark.sql("SELECT ID AS IdCliente FROM cliente WHERE RAND() < 0.025")
cliente_nvo.createOrReplaceTempView("cliente_nvo")
spark.sql("SELECT COUNT(*) FROM cliente_nvo").show(truncate=False)

+--------+
|count(1)|
+--------+
|78      |
+--------+

In [67]:
empleado.createOrReplaceTempView("empleado")

In [103]:
empleado_nvo = spark.sql("SELECT CodigoEmpleado AS IdEmpleado, IdSucursal FROM empleado WHERE RAND() < 0.25")
empleado_nvo.createOrReplaceTempView("empleado_nvo")
spark.sql("SELECT COUNT(*) FROM empleado_nvo").show(truncate=False)

+--------+
|count(1)|
+--------+
|75      |
+--------+

In [104]:
spark.sql("SELECT COUNT(DISTINCT IdSucursal) FROM empleado_nvo").show(truncate=False)

+--------------------------+
|count(DISTINCT IdSucursal)|
+--------------------------+
|29                        |
+--------------------------+

In [77]:
producto.createOrReplaceTempView("producto")

In [82]:
producto_nvo = spark.sql("SELECT ID_PRODUCTO as IdProducto, Precio FROM producto WHERE RAND() < 0.2")
producto_nvo.createOrReplaceTempView("producto_nvo")
spark.sql("SELECT COUNT(*) FROM producto_nvo").show(truncate=False)

+--------+
|count(1)|
+--------+
|54      |
+--------+

In [195]:
fecha_nvo = '2021-01-01'

In [208]:
consulta = "SELECT '" + str(fecha_nvo) + "' AS Fecha, "
consulta = consulta + "ROUND(RAND() * 4 + 1, 0) AS Dias_Entrega, "
consulta = consulta + "ROUND(RAND() * 2 + 1, 0) AS IdCanal, "
consulta = consulta + "c.IdCliente, "
consulta = consulta + "e.IdSucursal, "
consulta = consulta + "e.IdEmpleado, "
consulta = consulta + "p.IdProducto, "
consulta = consulta + "p.Precio, "
consulta = consulta + "ROUND(RAND() * 3 + 1, 0) AS Cantidad "
consulta = consulta + "FROM cliente_nvo c, producto_nvo p, empleado_nvo e "
consulta = consulta + "WHERE RAND() < 0.0005"

In [209]:
venta_nvo = spark.sql(consulta)
venta_nvo.count()

171

In [212]:
venta_nvo = venta_nvo.withColumn("IdCanal",col("IdCanal").cast("int"))
venta_nvo = venta_nvo.withColumn("Cantidad",col("Cantidad").cast("int"))
venta_nvo = venta_nvo.withColumn("Dias_Entrega",col("Dias_Entrega").cast("int"))
venta_nvo = venta_nvo.withColumn("Fecha",col("Fecha").cast("date"))

In [214]:
venta_nvo.createOrReplaceTempView("venta_nvo")

In [215]:
venta_nvo = spark.sql("SELECT Fecha, DATE_ADD(Fecha, Dias_Entrega) AS Fecha_Entrega, IdCanal, IdCliente, IdSucursal, IdEmpleado, IdProducto, Precio, Cantidad FROM venta_nvo")

In [216]:
venta_nvo.show(n=10)

+----------+-------------+-------+---------+----------+----------+----------+-------+--------+
|     Fecha|Fecha_Entrega|IdCanal|IdCliente|IdSucursal|IdEmpleado|IdProducto| Precio|Cantidad|
+----------+-------------+-------+---------+----------+----------+----------+-------+--------+
|2021-01-01|   2021-01-06|      2|        7|         2|      1079|     42822| 816.86|       3|
|2021-01-01|   2021-01-02|      1|       46|         9|      2486|     42779| 9555.4|       2|
|2021-01-01|   2021-01-05|      2|       46|        29|      3578|     42974|  214.0|       3|
|2021-01-01|   2021-01-04|      2|       74|        25|      3622|     42811|2559.92|       4|
|2021-01-01|   2021-01-02|      1|       87|        11|      2784|     42765|1938.42|       2|
|2021-01-01|   2021-01-06|      2|       87|        15|      1724|     42925|    3.0|       1|
|2021-01-01|   2021-01-06|      2|      159|        20|      3752|     42859|  610.0|       3|
|2021-01-01|   2021-01-04|      3|      159|         8|      1370|     42877|  560.0|       2|
|2021-01-01|   2021-01-05|      2|      159|        13|      1657|     42911| 1789.0|       3|
|2021-01-01|   2021-01-05|      2|      159|        27|      3667|     43006|  519.0|       2|
+----------+-------------+-------+---------+----------+----------+----------+-------+--------+
only showing top 10 rows

In [217]:
venta_nvo.printSchema()

root
 |-- Fecha: date (nullable = true)
 |-- Fecha_Entrega: date (nullable = true)
 |-- IdCanal: integer (nullable = true)
 |-- IdCliente: integer (nullable = true)
 |-- IdSucursal: integer (nullable = true)
 |-- IdEmpleado: integer (nullable = true)
 |-- IdProducto: integer (nullable = true)
 |-- Precio: double (nullable = true)
 |-- Cantidad: integer (nullable = true)

In [218]:
venta_nvo.repartition(1).write.csv(path="data/venta_nvo", sep=",", header=True, mode="overwrite")